*{
    margin: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    padding: 0;

}
header{
    margin: 0;
    font-size: 1rem;
    max-width: 100%;
    height: 100vh ;
    color: #bfc0c0;
    text-shadow: 2px 2px 4px #000000;
    background-size: cover;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('./backImages/WhatsApp\ Image\ 2023-09-21\ at\ 11.40.24\ \(1\).jpeg') no-repeat ;
   
} 

body{ 
    margin: 0;
    padding: 0;
    background-color: rgb(9, 12, 33);
    color: #ffffff;
}
    
h2{
    text-align: center;
    margin-top: 12px;
    text-decoration: underline #3a6ea5 5px;
    position: relative;
    top: 8vh;
} 
h3{
    text-align: center;
    position: relative;
    top: 16vh;
}
.service--container{
    display:flex;
    flex-direction: column;
    
} 
.service--container img, .About_section img{
    width: 100%;
    height: 75%;
    object-fit: cover;
    
} 
.boiler--container, .Pipe--container, .Gysers--container, .about--container{
    display: flex;
  
    margin-top: 15.625vh;
    
    justify-content: space-between;
}
.service--container button{
    width: 10vw; 
    height: 7vh;
    
   margin: 2vh 45vw;
}
.Boilers, .Pipeline, .Gysers{
    display: flex;
    flex-direction: column;
    margin: 10px ;
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    background-color: #5c6b73; 
    box-shadow: 0 4px 8px 0 rgba(141, 134, 134, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center; 
    
} 



.Contact{
    display:flex;
    flex-direction: column;
    margin-top: 10vh;
    box-shadow: 0 4px 8px 0 rgba(255, 242, 242, 0.801), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: space-between;
    flex-wrap: wrap;
   
}
form{
   margin: 14% 20px 0 14%;
   border: 2px solid #5c6b73; 
   box-shadow: 0 4px 8px 0 rgba(255, 242, 242, 0.801), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   padding: 15px;
} 
input{
    width: 25%;
    height: 6vh;
    margin-top: 2%;
    background-color: #dee2e6;
    border-radius: 9px;
} 
input[type="email"]{
    width: 25vw;
    margin:6px 0 10px 12px;
}
textarea{
    width: 55%;
    height: 50vh;
    margin-top: 12px; 
    background-color: #dee2e6;
}
fieldset{
    width: 50vw;
    height: 30%;
    margin-top:260px 0;
}
fieldset input{
    width: 26%;
    height: 6vh;
    margin-top: 6%;
    padding: 1%;
} 

.form--container{
    width: 100%;
    height: 156vh;
   margin: 5vh 0; 
   
    
}
form button, .About_section button{
    height: 6vh;
    width: 12vw;
    margin: 1vh 11vw;
}
label{
    margin-left: 4vw;
}

.why_us img{
    width: 30%;
    height: 30%;
    object-fit: contain;
    
} 
.why_us{
    margin: 11% 4%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-content: space-between;
}
.why_us div{
    margin:5vh 0 0 8vw;
} 
.why_us img{
    box-shadow: 0 4px 8px 0 rgba(255, 242, 242, 0.801), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   background-color: aliceblue;
    width: 3vw;
} 

.About_section{
    margin-top: 16vh;
} 


.about--container div:nth-child(1){
width: 100%;
height: 50%;

} 

.about--container div:nth-child(2){
    margin: 4vh 2vw;
} 
.p-hide{
    display: none;
}

.conctact--info {
   height: 50%;
}
img:hover{
    border: 1px solid #777
} 
button{
    background-color: #00b4d8;
    border-color:#00b4d8 ;
    font-size: 3vh;
}  




@media screen and (max-width: 767px) {  
    h1, h4{
        position:relative;
        top: 41vh
    }
    header div{
        margin: 0vh 0 0 3vw;
    }
  
    header{
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('./backImages/WhatsApp\ Image\ 2023-09-21\ at\ 11.40.24\ \(1\).jpeg') no-repeat ;
        background-size: cover;
        max-width: 100%;
    }  

   
    .about--container{
        display:flex;
        flex-direction: column;
       
    } 
    .About_section{
        margin-top: 0;
    } 
    .boiler--container, .Gysers--container, .Pipe--container{
        flex-direction: column;

    } 
    .service--container img{
        height: 80%;
        object-fit: cover;
        
    } 
    .boiler--container, .Pipe--container, .Gysers--container{
        
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin-top: 15.625vh;
        
        justify-content: space-between;
    }
    .conctact--details span{ 
        position: relative;
        top:1px
    }
    .why_us{
        display:flex;
        flex-direction: column;
    } 
    .Contact{
        flex-direction: column-reverse;
    } 
   
    input, input[type="email"]{
        width: 100%;
        margin-top:12px ;
       
    } 
    input[type="email"] {
        margin: 0;
        margin-top: 12px;
    }
    form{
        padding: 20%;
        margin:0 ;
        width: 100%;
    } 
    fieldset{
        width: 100%;
        padding-top: 10px;
    }
    fieldset input{
        width: 50%;
    } 
    .service--container button{
        width: 41%;
        margin: 18% 0  0 22%;
    } 
    form button, .About_section button{
        width: 41%;
        margin: 18% 0  0 22%;
    }
    textarea{
        height: 200px;
        width: 100%;
    } 
   .form--container h3{
        position: relative;
        top: 4vh;
    } 

 
        
} 
@media screen and (min-width: 768px) and (max-width: 1023px){


 header{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('./backImages/WhatsApp\ Image\ 2023-09-21\ at\ 11.40.24\ \(1\).jpeg') no-repeat ;
    background-size: cover;
    max-width: 100%;
}  


.about--container div:nth-child(2) {
    margin: 0;
}
} 


/*-------------Styling the dialog ------------*/
.backdrop {
    display: none;
    
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
  }
  
  .overlay[open] ~ .backdrop {
    display: block;
  } 
 dialog{
    background-color: rgb(9, 12, 33, 0.3);
    z-index: 10; 
 }
  dialog .all-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    
  } 
  dialog img{
    width: 100%;
    height: 75%;
    object-fit: cover;
    margin-top: 12px;
  } 
  
  dialog div{
    height: 69%;
  } 
  .close--preview {
    height: 5%;
    width: 40%;
    position: absolute;
    bottom: 3vh;
    left: 29vw;
    font-size: x-large;
    color: aliceblue;
    
  }  

  .form--container a{
    margin: 8%  0 0 2vw;
 
  } 



  nav{
    background: #0082e6;
    height: 80px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
  }
  label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
    
      padding-left: 10%;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    nav ul{
      position: fixed;
      width: 100%;
      height: 75vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #0082e6;
    }
    #check:checked ~ ul{
      left: 0;
    }
  } 

  @media  (min-width:859px) and (max-width: 1066px){
    nav ul{
        position: relative;
        bottom: 8vh;
    }
    
  }

  label img{
    mix-blend-mode: multiply;
    
  } 

  h1, h4{
    position:relative;
    top: 31vh
}


.Boilers-content{
    display: flex;
    gap: 10vw;
    width: 100%;

} 
.Boilers-content ul{
    width: 100%;
    
} 
.Boilers-content ul li{ 
    font-size: larger;
    margin: 8%;
    color: wheat;
    
} 
.Boilers-content div{
    margin-top: 12vh;
}

footer{
    display: flex;
    flex-direction: column;
    background-color: #1d413e6c;
    height: 170vh;
    
} 

    .pipe--content ul li{
        margin: 2%;
        font-size: larger; 
        color: wheat;
    } 

    footer p{
        font-size: x-large;
        margin:3% 0 0 23%;
    } 

.section--hidden{
    opacity: 0;
    transform: translate(8rem);
}