*{
    margin: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;

}
header{
    margin: 0;
    font-size: 1rem;
    max-width: 100%;
    height: 100vh ;
    color: #bfc0c0;
    text-shadow: 2px 2px 4px #000000;
    background-size: cover;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('./backImages/WhatsApp\ Image\ 2023-09-21\ at\ 11.40.24\ \(1\).jpeg') no-repeat ;
   
} 
header div{
    margin: 9vh 0 0 3vw;
}
header li{
    display: inline-block;
    padding: 12px;
    margin-left: 12px;
}
header ul{
    margin-left: 46vw; 
    
} 
nav{
    background-color: #748cab
}
body{ 
    background-color: rgb(9, 12, 33);
    color: #ffffff;
}
    
h2{
    text-align: center;
    margin-top: 12px;
    text-decoration: underline #3a6ea5 5px;
    position: relative;
    top: 8vh;
} 
h3{
    text-align: center;
    position: relative;
    top: 16vh;
}
.service--container{
    display:flex;
    flex-direction: column;
    
} 
.service--container img, .About_section img{
    width: 100%;
    height: 75%;
    object-fit: cover;
    
} 
.boiler--container, .Pipe--container, .Gysers--container, .about--container{
    display: flex;
    margin-top: 15.625vh;
    
    justify-content: space-between;
}
.service--container button{
    width: 10vw; 
    height: 7vh;
    
   margin: 2vh 45vw;
}
.Boilers, .Pipeline, .Gysers{
    margin: 10px ;
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    background-color: #5c6b73; 
    box-shadow: 0 4px 8px 0 rgba(141, 134, 134, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
} 
.Contact{
    display:flex;
    flex-direction: row;
    margin-top: 10vh;
    box-shadow: 0 4px 8px 0 rgba(255, 242, 242, 0.801), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
}
form{
   margin: 14% 20px 0 14%;
   border: 2px solid #5c6b73; 
   box-shadow: 0 4px 8px 0 rgba(255, 242, 242, 0.801), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   padding: 15px;
} 
input{
    width: 25%;
    height: 6vh;
    margin-top: 2%;
    background-color: #dee2e6;
    border-radius: 9px;
} 
input[type="email"]{
    width: 25vw;
    margin:6px 0 10px 12px;
}
textarea{
    width: 55%;
    height: 50vh;
    margin-top: 12px; 
    background-color: #dee2e6;
}
fieldset{
    width: 50vw;
    height: 30%;
    margin-top:260px 0;
}
fieldset input{
    width: 26%;
    height: 6vh;
    margin-top: 6%;
    padding: 1%;
} 
.conctact--details{
    margin-top: 32vh;
    width: 35vw;
    height: 100%;
}
.form--container{
    width: 100%;
    height: 156vh;
   margin: 5vh 0; 
   
    
}
form button, .About_section button{
    height: 6vh;
    width: 12vw;
    margin: 1vh 11vw;
}
label{
    margin-left: 4vw;
}

.why_us img{
    width: 30%;
    height: 30%;
    object-fit: contain;
    
} 
.why_us{
    margin: 11% 4%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-content: space-between;
}
.why_us div{
    margin:5vh 0 0 8vw;
} 
.why_us img{
    box-shadow: 0 4px 8px 0 rgba(255, 242, 242, 0.801), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   background-color: aliceblue;
    width: 3vw;
} 

.About_section{
    margin-top: 16vh;
} 

.conctact--details img{
    width: 10%;
    height: 10%;
    margin: 0vh 5px 0 0 ;
    position: relative;
   
    left: 15px;
} 
.line{
    height: 14vh;
    width: 4px;
    background-color: black;
    margin-left: 33px;
}
.about--container div:nth-child(1){
width: 100%;
height: 50%;

} 

.about--container div:nth-child(2){
    margin: 4vh 2vw;
}

.conctact--details span{
    position: relative;
    bottom: 10px;
    left: 10px;
}
img:hover{
    border: 1px solid #777
} 
button{
    background-color: #00b4d8;
    border-color:#00b4d8 ;
} 
@media screen and (max-width: 767px) {
    header{
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('./backImages/WhatsApp\ Image\ 2023-09-21\ at\ 11.40.24\ \(1\).jpeg') no-repeat ;
        background-size: cover;
        max-width: 100%;
    } 
    .about--container{
        display:flex;
        flex-direction: column;
       
    } 
    .About_section{
        margin-top: 0;
    } 
    .boiler--container, .Gysers--container, .Pipe--container{
        flex-direction: column;

    } 
    .service--container img{
        height: 10%;
        object-fit: contain;
        
    } 
    .conctact--details span{ 
        position: relative;
        top:1px
    }
    .why_us{
        display:flex;
        flex-direction: column;
    } 
    .Contact{
        flex-direction: column-reverse;
    } 
    .conctact--details{
        margin: 0;
        position: relative;
        bottom:1vh;
    } 
    input, input[type="email"]{
        width: 100%;
        margin-top:12px ;
       
    } 
    input[type="email"] {
        margin: 0;
        margin-top: 12px;
    }
    form{
        padding: 20%;
        margin:0 ;
        width: 100%;
    } 
    fieldset{
        width: 100%;
        padding-top: 10px;
    }
    fieldset input{
        width: 50%;
    } 
    .service--container button{
        width: 41%;
        margin: 18% 0  0 22%;
    } 
    form button, .About_section button{
        width: 41%;
        margin: 18% 0  0 22%;
    }
    textarea{
        height: 200px;
        width: 100%;
    } 
   .form--container h3{
        position: relative;
        top: 4vh;
    } 
    nav{
        float:right;
        display: none;
    } 
    .conctact--details img{
        margin-left: 13px;
    }
} 
@media screen and (min-width: 768px) and (max-width: 1023px){
    li{
        display: block;
        padding: 0; 
        margin-right: 0;
    } 
    header ul{
     margin: 0;
     padding: 0;
     background-color: #e5e5e5;
        
    } 
 header div:nth-child(1){
    margin-top: 21vh;
 } 

 header{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('./backImages/WhatsApp\ Image\ 2023-09-21\ at\ 11.40.24\ \(1\).jpeg') no-repeat ;
    background-size: cover;
    max-width: 100%;
} 
}